<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.aptana.ide.ui.propertyDialogs">
      <dialog
            class="com.aptana.ide.ui.ftp.internal.FTPPropertyDialogProvider"
            id="com.aptana.ide.ui.secureftp.sftpDialog"
            objectClass="com.aptana.ide.filesystem.secureftp.SFTPConnectionPoint">
      </dialog>
      <dialog
            class="com.aptana.ide.ui.ftp.internal.FTPPropertyDialogProvider"
            id="com.aptana.ide.ui.secureftp.ftpsDialog"
            objectClass="com.aptana.ide.filesystem.secureftp.FTPSConnectionPoint">
      </dialog>
   </extension>
   <extension
         point="com.aptana.ide.ui.imageAssociations">
      <objectImage
            icon="icons/full/obj16/sftp.png"
            objectClass="com.aptana.ide.filesystem.secureftp.SFTPConnectionPoint">
      </objectImage>
      <objectImage
            icon="icons/full/obj16/ftps.png"
            objectClass="com.aptana.ide.filesystem.secureftp.FTPSConnectionPoint">
      </objectImage>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.secureftp.sftpCategoryContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPointCategory">
         <action
               class="com.aptana.ide.ui.ftp.actions.NewFTPConnectionAction"
               enablesFor="1"
               icon="icons/full/etool16/new_secure_connection.png"
               id="com.aptana.ide.ui.secureftp.actions.newConnection.sftp"
               label="%newSFTPConnectionAction.label"
               menubarPath="group.new">
         </action>
         <visibility>
            <objectState
                  name="isCategory"
                  value="com.aptana.ide.filesystem.ftp.ftpCategory">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.secureftp.ftpsCategoryContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPointCategory">
         <action
               class="com.aptana.ide.ui.ftp.actions.NewFTPConnectionAction"
               enablesFor="1"
               icon="icons/full/etool16/new_secure_connection.png"
               id="com.aptana.ide.ui.secureftp.actions.newConnection.ftps"
               label="%newFTPSConnectionAction.label"
               menubarPath="group.new">
         </action>
         <visibility>
            <objectState
                  name="isCategory"
                  value="com.aptana.ide.filesystem.ftp.ftpCategory">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.ui.ftp.internal.FTPPropertyDialogProvider"
            class="com.aptana.ide.ui.secureftp.internal.CommonFTPPropertyDialogProvider$Factory">
         <adapter
               type="com.aptana.ide.ui.IPropertyDialogProvider">
         </adapter>
      </factory>
   </extension>

</plugin>
